.conatiner{
  background-color: rgb(150, 185, 143);
  padding: 24px;
}
.header{
  color: aliceblue;
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  font-weight: 600;
}
button{
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: rgb(185, 220, 126);
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
}
button:hover{
  background-color: rgb(28, 70, 20);
}
copyBtn{
  height: 30px;
  font-size: 10px;
}
.charlength { 
display: flex;
flex-direction: column;
color:white;
font-size: 20px; 
font-weight: 700; 
padding-bottom: 24px;
}
.charlength span{
  width: 100%; 
  display: flex;
 justify-content: space-between;
 padding-bottom: 24px;
}
.checkboxes {
 display: grid; 
 grid-template-columns: auto auto;

 font-size: 16px;
 font-weight:700;
 color:white;
}
.checkboxes div {
display: flex;
gap: 5px;
padding-bottom: 25px;
}
.generateBtn{
  width: 100%;
  font-size: 20px;
  padding: 20px;
}
.errorMessage{
  color: red;
  font-size: 20px;
  font-weight: 700;
  padding: 20px;
}